{% extends 'base.html' %}
{% load static %}

{% block content %}

{%block css%}
<link rel="stylesheet" href="{% static 'css/ .css' %}">
{%endblock%}

{% include 'navbar.html' %}

    <section>

        <h1>TEST CHEKCER TEMPLATE</h1>
        <div>
            <h2>Flagged Forms </h2>
            {% for form in flagged_forms %}
                <p>{{ form }}</p>
            {% empty %}
                <p>No flagged forms.</p>
            {% endfor %}
    <div>
        <h1>List of Volunteers</h1>
        {% for volunteer in volunteers %}
            <p>{{ volunteer.name }}</p>
            <p>Email: {{ volunteer.email }}</p>
            <p>Phone Number: {{ volunteer.phone_number }}</p>
            <p>Date of Work: {{ volunteer.date_of_work }}</p>
            <p>Total Hours: {{ volunteer.total_hours }}</p>
            <p>Location Volunteered: {{ volunteer.location_volunteered }}</p>
            <p>Work Description: {{ volunteer.work_desc }}</p>
            <p>Flagged: {{ volunteer.flagged }}</p>
            <p>Project: {{ volunteer.project.name }}</p>
            <hr>
        {% empty %}
            <p>No volunteers yet.</p>
        {% endfor %}
    </div>


    </section>


{% endblock content %}

